.sliderLayoutContainer--home__slider{
    padding: 20px 15px 0 15px ;
    max-width: 1600px;
    margin: auto;
}

.sliderLayoutContainer--home__slider-list-brand{
    /* padding: 20px 15px 0 15px ; */
    max-width: 1600px;
    margin: auto;
    padding: 0 15px;
}

.paginationDotsContainer--home__slider{
    transform: translate(0px,-15px);
}
.sliderLeftArrow--home__slider {
    color: #fff;
    /* margin: 0 11vw; */
    margin: auto;
    padding-left: 15px;
}
.sliderRightArrow--home__slider{
    /* margin: 0 11vw; */
    margin: auto;
    color: #fff;
    padding-right: 15px;
}
.sliderTrackContainer{
    border-radius: 12px;
}

.sliderLeftArrow--home__slider-list-brand{
    margin: auto;
   
    padding-right: 15px;
}

.sliderRightArrow--home__slider-list-brand{
    margin: auto;
    
    padding-right: 15px;
}

.paginationDotsContainer--home__slider-list-brand{
    display: none;
}



/* **********************products row**************************** */

.slideChildrenContainer--products__carousel-row{
    /* width: 80%!important; */
    /* justify-content: flex-start!important; */
    /* max-width: 225px!important; */
}

.sliderLayoutContainer--products__carousel-row{
    margin: 25px auto 0 auto;
    padding: 0!important;
    max-width: 1600px!important;
    overflow: hidden!important;
    /* overflow: hidden!important; */
}
.slide--products__carousel-row{
    /* width: 150px!important; */
    /* max-width: 225px!important; */

}

.sliderTrack--products__carousel-row{
    /* justify-content: flex-start!important; */
}
.slide--products__carousel-row--visible{
    width: 240px!important;
}
.sliderTrackContainer--products__carousel-row{
    /* max-width: 80vw!important;
    overflow: hidden!important; */
}

/* **************************top slider********************* */

.sliderLayoutContainer--home__top--slider-phone{
    padding: 0 15px!important;
    margin-top: 15px;
}


