.styledLinkContent--desktop--bottom-menu-item{
    color: #343a40;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 10px 0.9rem;
   
    
    
}
.styledLinkContent:hover{
    color: #094D9F;
    text-decoration: underline;

}

.styledLinkContent--desktop--mid-menu-item{
    color: #343a40;
    font-size: 0.9rem;
    font-weight: 600;
    padding:  20px 0.9rem;
    
}

.flexRowContent{
    /* padding: 10px 0 ; */
    height: 50px;
}
.styledLinkContainer{
    margin-left: 0;
}





