.flexRow--footer__desktop-newsletter-row{
    background-color: #094D9F;
    /* color: #fff; */
    height: 100px;
    /* padding: auto; */
}

/* .flexRow--footer__desktop-newsletter-col{
    padding-top: 20px;

} */
