 


.flexColChild--add-to-cart-button--container-col :global(.vtex-button){
    background-color:#094D9F!important;
    position: absolute;
    width: 35px;
    height: 35px!important;
    min-height: 35px!important;
    border-radius: 50%;
    font-size: 0.7rem;
    border: none;
    z-index: 1;
    margin-left: 5px;
    
}



.flexColChild--add-to-cart-button--container-col :global(.vtex-button__label){
    padding: 0!important;
    
}

.flexColChild--add-to-cart-button--container-col :global(.vtex-button__label)::before{
    content: "";
    display: block;
    background-color:#094D9F;
    background-image: url("assets/img/global/cart-product-summary-2.png");
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: center;
}

.flexColChild--add-to-cart-button--container-col{
    display: flex;
    justify-content: flex-start;
}