.styledLinkContent--desktop--bottom-menu-item{
    color: #000;
    font-size: 0.65rem;
    font-weight: 600;
    padding: 10px 0;
   
    
    
}
.styledLinkContent:hover{
    color: #094D9F;
    text-decoration: underline;

}

.styledLinkContent--desktop--mid-menu-item{
    color: #000;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 12px 0;
    
}

.flexRowContent{
    /* padding: 10px 0 ; */
    height: 50px;
}
/* .styledLinkContainer--desktop--mid-menu-item{

    margin: 0 1.1rem 0 0;

}
.styledLinkContainer--desktop--bottom-menu-item{

    margin: 0 1.1rem 0 0;

} */