
.searchBarIcon--external-search {
  background-color: #094D9F;
}

.searchIcon{
  color: #fff;
}

.logoLink {
  
    transform: translate(-30px,5px);

}

.sizeMobile{
  padding: 0;
}
.searchBarContainer{
  padding: 0;
  font-size: 15px;

}

:global(.vtex-input-prefix__group){
  height: 41px!important;
  border-width: thin;
}

/* .vtex-input-prefix__group{
  height: 50px!important;
  border-radius: 15px!important;
} */

.imageElement--section__three-image-grid{
  border-radius: 1rem;
}