
.searchBarIcon--external-search {
  background-color: #094D9F;
  border-radius: 0 12px 12px 0;
}

.searchIcon{
  color: #fff;
}


.sizeMobile{
  padding: 0;
}
.searchBarContainer{
  /* padding: 0 0 0 1rem; */
  /* font-size: 13px; */

}
.searchBarInnerContainer--searchbar__desktop--header{
  padding-left: 10px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input){
  font-size: 14px;
}

:global(.vtex-input-prefix__group){
  height: 40px!important;
  border-width: thin;
  border-radius: 12px;
}

/* .vtex-input-prefix__group{
  height: 50px!important;
  border-radius: 15px!important;
} */

.imageElement--section__three-image-grid{
  border-radius: 1rem;
}

.logoContainer--header__desktop--logo{
  padding-left: 0!important;
}

.searchBarInnerContainer--searchbar__phone{
  margin: 0 15px;
}