.searchBarContainer{
    min-width: 500px;
    border-radius: 10px;
  }
  .searchBarContainer--input{
    border-radius: 5px;
}

.logoImage{
  width: 180px;
}

.searchBarIcon--external-search{
  background-color: #094D9F;
}
.externalSearchButtonWrapper{
  border-radius: 10px;
}
/* .searchBarIcon--searchbar__phone{
  min-width: 200px;
} */