.headerRowContainer--header__top--desktop{
    display: grid;
    grid-template-columns: 15% 58% 7% 7% 7%;
    max-width: 1600px;
    margin: auto;
    padding: 0 15px;
    justify-content: center;

}


.headerRowContentContainer--header__top--desktop{
    justify-content: center;
    margin:0;
    padding:0;
    /* width: 100vw!important; */
    /* margin-top: 12px; */
}



/* ******************phone************************* */

.headerRowContainer--header__top--container-phone{
    display: grid;
    grid-template-columns: 10% 60% 12.5% 12.5%;
    /* max-width: 80vw; */


}

.headerRowContainer--header__top--container-tablet{
    display: grid;
    grid-template-columns: 5% 25% 55% 7.5% 7.5%;
    /* max-width: 80vw; */


}

.headerRowContentContainer--header__top--container-phone{
    padding-left: 0!important;
    margin-top: 10px!important;
}
.headerRowContentContainer--header__top--container-tablet{
    margin-top: 10px!important;
    padding: 0!important;

}
