
.flexRowContent--desktop__container--order-switcher-inside{
    align-items: center;
    justify-content: center;
}

.flexCol--category__results--content{
    width: 100%;
}
.flexColChild--category__results--content{
    width: 100%;
}

.flexRowContent--category__results-mobile--filter-content{
    display: flex;
    flex-direction: row;
}